<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseUrl" value="https://fir-net-fc01e.firebaseio.com/" />
    <add key="DatabaseSecret" value="1K7qdbC2X9nQNRzlqQC14XmsGPR6Y5phUfxC2B5Z" />
    <add key="ApiKey" value="AIzaSyD9z5obBmdhc7qeELh6c9PqLSW0WoVmnFg" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>